

{% if product.compare_at_price > product.price %}
{% unless hide_compare_at %}<span class="strike">{{product.compare_at_price|money}}</span>{% endunless %}
<span class="highlight">{{product.price|money}}</span>
{% else %}
<span class="">{{product.price|money}}</span>
{% endif %}

