<div class="medium_bottom">
  {% if section.settings.title != blank %}
  <h1 class="h1--massive{% if section.settings.align_text == 'center' %} text_center{% endif %}">{{ section.settings.title }}</h1>
  {% endif %}

  {% if section.settings.image != blank %}
  <div class="padded max_width max_width--wide max_width--center">
    {% include 'picture', image: section.settings.image %}
  </div>
  {% endif %}
</div>



{% schema %}
{
  "name": "Title with image",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": "High quality organic<br>Japanese tea<br>高品質の有機紅茶"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": {
        "de": "Textausrichtung",
        "en": "Text alignment",
        "es": "Alineación de texto",
        "fr": "Alignement du texte",
        "it": "Allineamento del testo",
        "ja": "テキストアラインメント",
        "pt-BR": "Alinhamento de texto"
      },
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": {
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fr": "Gauche",
            "it": "Sinistra",
            "ja": "左",
            "pt-BR": "Esquerda"
          }
        },
        {
          "value": "center",
          "label": {
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrado",
            "fr": "Centré",
            "it": "Centrato",
            "ja": "中央揃え",
            "pt-BR": "Centralizado"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      }
    }
  ],
  "presets": [
    {
      "name": "Title with image",
      "category": "Text"
    }
  ]
}
{% endschema %}
